<div class="draft-area">
    <div class="draft-area__panel" [ngClass]="{ 'draft-area__panel--with-draft' : hasDraft }">
        <div class="draft-area__panel-content">
            <div class="draft-area__panel-header">
                <b>{{label}}</b>
            </div>
            <textarea class="draft-area__textarea" [(ngModel)]="value" (keyup)="emitKeyUp()" [rows]="rows"></textarea>
        </div>
    </div>
    <div class="draft-area__panel draft-area__panel--with-draft" *ngIf="hasDraft">
        <div class="draft-area__panel-content">
            <div class="draft-area__panel-header">
                You have a draft. 
                <a href="javascript:void(0)" (click)="emitDraftRestore()">Restore</a>
                or
                <a href="javascript:void(0)" (click)="discardDraft()">Discard</a>
            </div>
            <textarea class="draft-area__textarea draft-area__textarea--draft" [value]="draft" [rows]="rows" readonly></textarea>
        </div>
    </div>
</div>