.draft-area {
    position: relative;

    &__textarea {
        width: 100%;
        font-family: sans-serif;
        font-size: 1em;
        padding: 1em;
        box-sizing: border-box;
        
        &--draft {
            font-style: italic;
            background: #f5f5f5;
        }
    }

    &__panel {    
        position: relative;
        float: left;
        width: 100%;

        &--with-draft {
            @media(min-width: 768px) {
                width: 50%;
            }
        }
    }
    
    &__panel-content {
        padding: 0 0.25em;
    }
    
    &__panel-header {
        margin-top: 0.25em;
        margin-bottom: 0.5em;
    }

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}






